/* For footer */
div.my-footer {
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    position: absolute;
    left: 15px;
    bottom: 8px;
}

/* Remove slide number */
.remark-slide-number {
  display: none;
}
